

<div class="container">
    <!--Manual Breadcrumbs-->
    <ul class='breadcrumb'>
        <li><a href=""><i class="fa fa-home"></i></a></li>
		<li><a href="">My Bag</a></li>
        <li>Checkout</li>
    </ul>
    <!--End of Manual Breadcrumbs-->
	<div class="row">
		<div class="col-md-6">
            <div class="card-checkout" *ngFor="let custBag of cartItems">
            <img src="assets/img/slimfitphoto.jpg"
                class="img-checkout">
            <div class="foodlist-info" >
                    <h3 >{{custBag.foodlist.foodlist_name}}</h3>
                <p>Available until:  {{custBag.foodlist.available_date}}</p>
                <p>Qty : {{custBag.quantity}}</p>
            </div>


                <div class="price-wrap">
                 <h3 class="price">Rp {{custBag.foodlist.price * custBag.quantity}}</h3>
                 </div>


        </div>
		</div>


		<div class="col-md-6">
			<div class="card-checkout">
				<h2>Delivery Address</h2>
                <p>{{customerProfile.street}}, {{customerProfile.province}}, {{customerProfile.postal_code}}</p>
				<hr>
				<dt class="col-sm-10">Delivery Method <span class="float-right text-muted">Gojek</span></dt>
				<dt class="col-sm-10">Sub total: <span class="float-right"></span></dt>
				<dt class="col-sm-10">Delivery costs: <span class="float-right text-muted"></span></dt>
				<dt class="col-sm-10">Total: <span class="float-right">{{total_price}}</span></dt>			
			

			</div>


			<!--Payment manually-->
			 <button (click)="routingToPayment()" routerLi nkActive="active" class="btn btn-success btn-block"> Choose Payment Method </button>


		</div>


		


	</div>
</div>
