

<div class="container">

	<div class="row">
        
		<div class="col-md-6">
            <div class="card-checkout" >
                <h4>Cart</h4>
                <div class="card-list" *ngFor="let custBag of cartItems;let i = index" >
                <hr>
                <!-- <img style="height:30px;width:auto;"src="assets/img/grey-circle-noimage.png"/> -->
                <!-- <span>{{custBag.foodlist.vendor.vendor_name}}</span> -->
                <!-- <hr> -->
                <div class="col">
                    <img src="{{custBag.foodlist.foodlist_logo}}"
                        class="img-checkout">
                </div>
                <div class="col">
                <div class="foodlist-info" >
                    
                    <p><strong>{{custBag.foodlist.foodlist_name}}</strong></p>
                        
                    <p>Available date:  {{custBag.foodlist.available_date}}</p>
                    
                    <p>QTY : {{custBag.quantity}}</p>
            
                    <p class="price">{{custBag.foodlist.price * custBag.quantity | currency:"IDR":"symbol-narrow":"1.0-2"}}</p>
    
                </div>
                </div>
                     
                </div>
                
            </div>
		</div>


		<div class="col-md-6">
			<div class="card-checkout">
                <dl class="dlist-align">
                    
                    <dt>Delivery to : </dt>
                    <dd class="text-right">{{customerProfile.customer_name}}   </dd>
                    <dd class="text-right">{{customerProfile.street}}, {{customerProfile.province}}, {{customerProfile.postal_code}} </dd>
                    <dd class="text-right">{{customerProfile.customer_phone}}  </dd>
                    <!-- <dd class="text-right">  </dd>                     -->
                </dl>
				<!-- <dt class="col-sm-10">Delivery Method <span class="float-right text-muted">Gojek</span></dt>
				<dt class="col-sm-10">Sub total: <span class="float-right"></span></dt>
				<dt class="col-sm-10">Delivery costs: <span class="float-right text-muted"></span></dt> -->
				<dt class="col-sm-10">Total: <span class="float-right">{{total_price |currency:"IDR":"symbol-narrow":"1.0-2"}}</span></dt>			
			

			</div>


			<!--Payment manually-->
			 <button (click)="routingToPayment()" routerLi nkActive="active" class="btn btn-success btn-block"> Choose Payment Method </button>


		</div>


		


	</div>
</div>
