{% extends 'base/navbar.html' %}
{% load static %}
{% block body %}

<!-- order_area_start -->
{% comment %} <div class="order_area"> {% endcomment %}

    <div class="container">
          <!--Manual Breadcrumbs-->
            <ul class='breadcrumb'>
                <li><a href="{% url 'welcome:index' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'dietprogram:index' %}"> Diet Program </a> </li>
                <li><a href=""></a> Food Playlist </li>
                <li><a href=""></a> Foods </li>
            </ul>
            <!--End of Manual Breadcrumbs-->
        <div class="row">
            <div class="col-md-6">
                <img src="{{ food.food_photo }}" style="width:100%" />
            </div>
            <div class="col-md-6">
                <h1> {{ food.food_name }}</h1>
                <p> By: {{food.vendor.vendor_name}}</p>
                <h1> About </h1>
                <p> {{ food.description }}</p>
                <h1> Nutrition Facts </h1>
                <p> {{ food.calories }}</p>

                {% if request.user.groups.all.0.name == 'vendor' and vendor_is_creator == 'True' %}
                <div class="action">
                    <br>
                    <hr>
                    <a href="{% url 'food:food-update' food.id %}">
                        <button type="submit" class="btn btn-success">Update</button>
                    </a>   
                    <br>
                    <br>
                    <form action="{% url 'food:food-delete' food.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="food_id" value="{{ food.id }}" />
                        <button type="submit" class="btn btn-danger">Delete Food</button>
                    </form>
                </div>
                {% elif request.user.groups.all.0.name == 'admin' %}
                <div class="action">
                    <br>
                    <hr>
                    <a href="{% url 'food:food-update' food.id %}">
                        <button type="submit" class="btn btn-success">Update</button>
                    </a>
                    <br>
                    <br>
                    <form action="{% url 'food:food-delete' food.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="food_id" value="{{ food.id }}" />
                        <button type="submit" class="btn btn-danger">Delete Food</button>
                    </form>
                </div>
                {% endif %}

            </div>

        </div>
    </div> <!-- end row-->
</div> <!-- end container-->
{% comment %} </div> <!-- order_area_end --> {% endcomment %}

{% endblock %}