 <div class="order_area">
        <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-70">
                            <h3>Our Programs</h3>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-xl-4 col-md-6" *ngFor="let dietprogram of dietprograms">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src= "" alt="">
                            <div class="order_prise">
                                <span>Starts from Rp 15,000</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="">{{dietprogram.dietProgram_name}}</a></h3>
                            <p>{{dietprogram.description}}</p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
</div>