{% extends 'base/navbar.html' %}
{% load static %}
{% block body %}
    <div class="container">
    <div class="row">
        
        
    </div>
    </div>
    

     <!-- order_area_start -->
    <div class="order_area_foodlist">

        <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-70">
                            {% comment %} <h3>Buff Program</h3> {% endcomment %}
        {% comment %} <h1>{{ object_list.dietProgram_name }} </h1> {% endcomment %}
                        </div>
                    </div>
                </div>
        <h3>Food list</h3>
                <div class="row">
            {% for foodlist in dietProgram.foodlist_set.all %}
                <div class="col-xl-4 col-md-6">
                    <div class="single_order_foodlist">
                        <div class="order_thumb_foodlist">
                            <img src= "{{foodlist.foodlist_logo}}" alt="">

                        </div>
                        <div class="order_info">
                            <h3><a href="{% url 'welcome:foodlist-detail' foodlist.id %}"> {{ foodlist.foodlist_name }} {{foodlist.id}} </a></h3>
                            <div class="order_prise_foodlist">
                                <span>Rp 20,000</span>
                            </div>
                            {% comment %} <p>Help you to buff your body
                            </p> {% endcomment %}
                            {% comment %} <a href="#" class="boxed_btn">Order Now!</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            {% endfor %} 
                </div>  
                {% comment %} <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src="{% static "welcome2/img/order/buff-photo.jpg" %}" alt="">
                            <div class="order_prise">
                                <span>Starts from Rp 15,000</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="{% url 'welcome:foodlist' %}">Pregnancy Program</a></h3>
                            <p>Help with baby's nutritions
                            </p>
                            <a href="#" class="boxed_btn">Order Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src=" {% static "welcome2/img/order/buff-photo.jpg" %}" alt="">
                            <div class="order_prise">
                                <span>Starts from Rp 15,000</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="{% url 'welcome:foodlist' %}">Diet No Carbo</a></h3>
                            <p>Red Rice is popular to reduce Carbohydrate in a Food
                            </p>
                            <a href="#" class="boxed_btn">Order Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src="{% static "welcome2/img/order/buff-photo.jpg"%}"  alt="">
                            <div class="order_prise">
                                <span>Starts from Rp 15,000</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="{% url 'welcome:foodlist' %}">Diet Set Meal 02</a></h3>
                            <p>
                            </p>
                            <a href="#" class="boxed_btn">Order Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src="{% static "welcome2/img/order/buff-photo.jpg"%}" alt="">
                            <div class="order_prise">
                                <span>Starts from Rp 15,000</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="{% url 'welcome:foodlist' %}">Diet Set Meal 03</a></h3>
                            <p>Chicken Fried Rice   |   Crispy Chicken fry <br>

                            </p>
                            <a href="#" class="boxed_btn">Order Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src=" {% static "welcome2/img/order/buff-photo.jpg"%}" alt="">
                            <div class="order_prise">
                                <span>Starts from Rp 15,000</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <h3><a href="{% url 'welcome:foodlist' %}">Western Diet Meal 01</a></h3>
                            <p>Chicken Fried Rice   |   Crispy Chicken fry <br>
                            </p>
                            <a href="#" class="boxed_btn">Order Now!</a>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            {% comment %} load more button {% endcomment %}
                        <div class="load_more_button text-center">
                            <a href="#" class="load_more_btn">Load More</a>
                        </div>
        </div>
    </div>
    <!-- order_area_end -->

{% endblock %}