{% extends 'base/navbar.html' %}
{% load static %}
{% block body %}

<body>

    <!-- breadcam_area_start -->
    <div class="breadcam_area breadcam_bg_1 zigzag_bg_2">
        <div class="breadcam_inner">
            <div class="breadcam_text">
                <h3>Our Gallery</h3>
            </div>
        </div>
    </div>
    <!-- breadcam_area_end -->

    <!-- gallery_area_start -->
    <div class="gallery_area">
        <div class="container">
            <div class="row  grid">
                <div class="col-xl-5 col-lg-5 col-md-6 grid-item">
                    <div class="single_gallery long_height gallery_bg_1">
                    <a href="{% static 'welcome2/img/gallery/01.png' %}">
                        <img src="{% static 'welcome2/img/gallery/01.png' %}" class="popup-image"></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item">
                    <div class="single_gallery mini_height gallery_bg_2">
                        <img src="{% static 'welcome2/img/gallery/2.png' %}" class="popup-image"></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 grid-item ">
                    <div class="single_gallery mini_height gallery_bg_3">
                        <img src="{% static 'welcome2/img/gallery/3.png' %}" class="popup-image"></a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6 grid-item">
                    <div class="single_gallery mid_height gallery_bg_5">
                        <img src="{% static 'welcome2/img/gallery/5.png' %}" class="popup-image"></a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6 grid-item">
                    <div class="single_gallery large_height gallery_bg_4">
                        <img src="{% static 'welcome2/img/gallery/4.png' %}" class="popup-image"></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item">
                    <div class="single_gallery mini_height  gallery_bg_6">
                        <img src="{% static 'welcome2/img/gallery/6.png' %}" class="popup-image"></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 grid-item">
                    <div class="single_gallery mini_height gallery_bg_7">
                        <img src="{% static 'welcome2/img/gallery/7.png' %}" class="popup-image"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="load_more_button text-center">
                        <a href="#" class="load_more_btn">Load More Images</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery_area_end -->
{% endblock %}