<div id="footer" class="footer">
    <div class="container text-left">
        <div class="row">
            <div class="col-sm-4">
                <p>Nutree Company</p>
                <br>
                <p>Careers</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy & Disclaimer</p>
            </div>
            <div class="col-sm-4">
                <p>Follow Us On</p>
                <p>IG</p>
                <p>TikTok</p>
                <br>
                <p>Get In Touch</p>
                <p><mat-icon>mail</mat-icon>nutreecatering@gmail.com</p>
            </div>
            <div class="col-sm-4">
                <p>Now Delivering in Jakarta</p>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: PT.Makan Hidup Sehat
    </div>
    <!-- Copyright -->
  
</footer>