// .row{
//     padding:50px;
// }

.img-top{
    height:auto;
    width:100%;
    border-radius: 20px;
}
.img-vector{
    height:150px;
    width:150px;
}
// .advantages{
    // background-color: grey;
// }
.join-button{
    width:100%;
    text-align: center;
    margin:20px;
    background-color: #78b454;
    color:white;
    outline:none;
    padding:10px;
    text-decoration: none;
    border-radius: 20px;
}