<div class="container">
    <div class="row">
        <img src="assets/img/food-plating.jpg" class="img-top"/>
        <h3>Dapatkan Revenue Tambahan</h3>
        <p>Tingkatkan Revenue anda dengan bergabung bersama kami</p>
        <a href="https://forms.gle/LHsuwDHEWCp92hLP8" class="join-button" >Gabung Sekarang</a>
    </div>
    <div class="row">
        <h3>Siapakah Kami?</h3>
        <p>Kami adalah Nutree, Aplikasi yang menghubungkan para pengusaha kuliner dengan para pelanggan di daerah Jakarta dan sekitarnya.
            Bersama Nutree anda bisa mengembangkan produk dan usaha anda dengan bantuan manajemen pemesanan yang sangat mudah </p>
    </div>
     <h3>Mengapa harus memilih menjadi partner Nutree</h3>
    <div class="row advantages">
        <div class="col">
            <img src="assets/img/awareness-vector.png" class="img-vector"/>
            <p>Awareness usaha yang naik</p>
        </div>
        <div class="col">
            <img src="assets/img/Bento-Vector.png" class="img-vector"/>
            <p>Perkiraan order harian</p>
        </div>
        <div class="col">
            <img src="assets/img/clock-vector.png" class="img-vector"/>
            <p>Manajemen order yang mudah</p>
        </div>
        <div class="col">
            <img src="assets/img/delivery-vector.png" class="img-vector"/>
            <p>Gak usah repot delivery</p>
        </div>
    </div>
</div>