<p>shopping-cart works!</p>


<div class="container" >
    <!--Manual Breadcrumbs-->
    <ul class='breadcrumb'>
        <li><a href=""><i class="fa fa-home"></i></a></li>
        <li>My Bag</li>
    </ul>
    <!--End of Manual Breadcrumbs-->
    
    <div class="row">

        <div class="col-md-6">
    
            <div class="card-checkout" *ngFor="let custBag of cartItems">
                    <div class="remove-btn">
                        <a href="" class="btn btn-outline-danger">×</a>
                    </div>  
                <img src="assets/img/slimfitphoto.jpg"
                    class="img-checkout">
                <div class="foodlist-info" >
                        <h3 >{{custBag.foodlist.foodlist_name}}</h3>
                    <p>Available date:  {{custBag.foodlist.available_date}}</p>
                    <p>Qty : {{custBag.quantity}}</p>
                     <select class="form-control" value="v.quantity">

                        <option value="1">Single</option>
                        <option value="2" >Double</option>
                        <option value="3">Family(3 pax)</option>
                        <option value="4">Family(4 pax)</option>
                        <option value="5">Family(5 pax)</option>
                    </select>  
                </div>


                    <div class="price-wrap">
                     <h3 class="price">Rp {{custBag.foodlist.price}}</h3>
                     </div>


            </div>

        </div>
        <!--col-md-6 end-->
        <div class="col-md-6">
                <div class="card-checkout">
                    <dl class="dlist-align">
                        <dt>Delivery Method : </dt>
                        <select class="form-control" >
                        <option value="1">Gojek</option>
                        <option value="2" >Grab</option>
                        <option value="3">Ninja Express</option>
                    </select>  
                    </dl>
                    <dl class="dlist-align">
                    
                        <dt>Delivery to :  <a href="{% url 'customer:address-update' customer_pk %}"><span style="color:blue;font-size:12px;">change address</span></a></dt>
                        <dd class="text-right">  </dd>
                        <dd class="text-right">  </dd>
                        <dd class="text-right">  </dd>
                        <dd class="text-right">  </dd>                    
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">Rp  </dd>
                    </dl>
                    <hr>
                    <a routerLink="/checkout" routerLinkActive="active" class="btn btn-success btn-block"> Checkout </a>
                    <a href="" class="btn btn-light btn-block">Continue Shopping</a>
                </div> <!-- card-body.// -->
            </div>
            <!--col-md-2 end-->
            
        </div>
        <!--row end-->
    </div>
    <!--container end.//-->

