<div class="container" *ngIf="cartItems.length > 0 && dataLoaded; else emptyCart" >
    <!--Manual Breadcrumbs-->
    <!-- <ul class='breadcrumb'>
        <li><a href=""><i class="fa fa-home"></i></a></li>
        <li>My Bag</li>
    </ul> -->
    <!--End of Manual Breadcrumbs-->
    
    <div class="row">

        <div class="col-md-6">
            <div class="card-checkout" >
                    <!-- <div class="remove-btn">
                        <a (click)="deleteCartItem(custBag.foodlist.id)" class="btn btn-outline-danger">×</a>
                    </div>  -->
                <h4>Cart</h4>
                
                <div class="card-list" *ngFor="let custBag of cartItems;let i = index">
                    <hr>
                <!-- <img style="height:30px;width:auto;"src="assets/img/grey-circle-noimage.png"/> -->
                <!-- <span>{{custBag.foodlist.vendor.vendor_name}}</span> -->
                <!-- <hr> -->
                <div class="col">
                    <img src="assets/img/slimfitphoto.jpg"
                        class="img-checkout">
                </div>
                <div class="col">
                <div class="foodlist-info" >
                        <!-- <h4>ID {{custBag.foodlist.id}}</h4> -->
                        <p><strong>{{custBag.foodlist.foodlist_name}}</strong></p>
                        
                    <!-- <p>Available date:  {{custBag.foodlist.available_date}}</p> -->
                    <!-- <p>Qty : <input type="number" value="{{custBag.quantity}}"/></p> -->
                    
                    <div *ngIf="!zeroQty" class="minus-button"  (click)="minusToCart(i)">-</div>
                    <button *ngIf="zeroQty" [disabled]="true" class="minus-button"  (click)="minusToCart(i)">-</button>
                    <div (change)="changed($event,custBag.foodlist.id)" class="counter" ><input type="text" size="5" value="{{custBag.quantity}}"/></div>
                    <div class="add-button"  (click)="addButton(i)">+</div>
                    <span><mat-icon class="delete-btn" (click)="deleteCartItem(custBag.foodlist.id)">delete</mat-icon></span>
            
                    <p class="price">Rp {{custBag.foodlist.price * custBag.quantity}}</p>
                    <!-- <select (change)="changed($event,custBag.foodlist.id)" >
                        <option *ngFor="let currentData of qty" [value]="currentData" [selected]="currentData == custBag.quantity" >
                            {{currentData}}
                        </option>
                    </select> -->
                </div>
                </div>


                    <!-- <div class="price-wrap"> -->
                     <!-- <p class="price">Rp {{custBag.foodlist.price * custBag.quantity}}</p> -->
                     <!-- </div> -->
                     
                </div>
                
            </div>
            
        </div>
        <!--col-md-6 end-->
        <div class="col-md-6">
                <div class="card-checkout">
                    <!-- <dl class="dlist-align">
                        <dt>Delivery Method : </dt>
                        <select class="form-control" >
                        <option value="1">Gojek</option>
                        <option value="2" >Grab</option>
                        <option value="3">Ninja Express</option>
                    </select>  
                    </dl> -->
                    <dl class="dlist-align">
                    
                        <dt>Delivery to :  <a><span style="color:blue;font-size:12px;">change address</span></a></dt>
                        <dd class="text-right">{{customerProfile.customer_name}}   </dd>
                        <dd class="text-right">{{customerProfile.street}}, {{customerProfile.province}}, {{customerProfile.postal_code}} </dd>
                        <dd class="text-right">{{customerProfile.customer_phone}}  </dd>
                        <!-- <dd class="text-right">  </dd>                     -->
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total price: </dt>
                        <dd class="text-right">Rp {{total_price}} </dd>
                    </dl>
                    <hr>
                    <a routerLink="/checkout" routerLinkActive="active" class="btn btn-success btn-block"> Checkout </a>
                    <a routerLink="/dietprogram" class="btn btn-light btn-block">Continue Shopping</a>
                </div> <!-- card-body.// -->
            </div>
            <!--col-md-2 end-->
            
        </div>
        <!--row end-->
    </div>
    <!--container end.//-->

<ng-template #emptyCart>
    nonexists
    <a routerLink="/dietprogram" class="btn btn-light btn-block">Continue Shopping</a>
</ng-template>