<div class="container" *ngIf="cartItems.length > 0 && dataLoaded; else emptyCart" >    
    <div class="row">
        <div class="col-md-6">
            <div class="card-checkout" >

                <h4>Cart</h4>
                
                <div class="card-list" *ngFor="let custBag of cartItems;let i = index" >
                <hr>
                <!-- <img style="height:30px;width:auto;"src="assets/img/grey-circle-noimage.png"/> -->
                <!-- <span>{{custBag.foodlist.vendor.vendor_name}}</span> -->
                <!-- <hr> -->
                <div class="col">
                    <img src="{{custBag.foodlist.foodlist_logo}}"
                        class="img-checkout">
                </div>
                <div class="col">
                <div class="foodlist-info" >
                        <p (click)="goToFoodlist(custBag.foodlist.id)"><strong>{{custBag.foodlist.foodlist_name}}</strong></p>
                        
                    <p>Available date:  {{custBag.foodlist.available_date}}</p>
                    
                    <div class="minus-button"  (click)="minusToCart(i)">-</div>
                    
                    <div (change)="changed($event,i)" class="counter" ><input type="text" size="5" value="{{custBag.quantity}}"/></div>
                    <div class="add-button"  (click)="addButton(i)">+</div>
                    <span><mat-icon class="delete-btn" (click)="deleteCartItemIcon(custBag.foodlist.id,i)">delete</mat-icon></span>
            
                    <p class="price">{{custBag.foodlist.price * custBag.quantity|currency:"IDR":"symbol-narrow":"1.0-2"}}</p>
    
                </div>
                </div>
                     
                </div>
                
            </div>

            <div class="update-cart">
                <a class="btn btn-light btn-block" (click)="updateQuantityAPI()">Update Cart</a>
            </div>
            
        </div>
        <!--col-md-6 end-->
        <div class="col-md-6">
                <div class="card-checkout">
                    <!-- <dl class="dlist-align">
                        <dt>Delivery Method : </dt>
                        <select class="form-control" >
                        <option value="1">Gojek</option>
                        <option value="2" >Grab</option>
                        <option value="3">Ninja Express</option>
                    </select>  
                    </dl> -->
                    <dl class="dlist-align">
                    
                        <dt>Delivery to :  <a (click)=editAddress()><span style="color:blue;font-size:12px;">change address</span></a></dt>
                        <dd class="text-right">{{customerProfile.customer_name}}   </dd>
                        <dd class="text-right">{{customerProfile.street}}, {{customerProfile.province}}, {{customerProfile.postal_code}} </dd>
                        <dd class="text-right">{{customerProfile.customer_phone}}  </dd>
                        <!-- <dd class="text-right">  </dd>                     -->
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total price: </dt>
                        <dd class="text-right">{{total_price | currency:"IDR":"symbol-narrow":"1.0-2"}} </dd>
                    </dl>
                    <hr>
                    <a routerLink="/checkout" routerLinkActive="active" class="btn btn-success btn-block"> Checkout </a>
                    <a routerLink="/dietprogram" class="btn btn-light btn-block">Continue Shopping</a>
                </div> <!-- card-body.// -->
            </div>
            <!--col-md-2 end-->
            
        </div>
        <!--row end-->
    </div>
    <!--container end.//-->

<ng-template #emptyCart>
    nonexists
    <a routerLink="/dietprogram" class="btn btn-light btn-block">Continue Shopping</a>
</ng-template>