<!-- <select *ngIf="authService.getRole()=='customer'" class="options">
    <option *ngFor="let loc of location">{{loc.city}}</option>
</select> -->
<app-banner-carousel *ngIf="authService.getRole()=='customer'"></app-banner-carousel>
<app-dietprogram *ngIf="authService.getRole()=='customer'"></app-dietprogram>

<app-banner-carousel *ngIf="!authService.getRole()"></app-banner-carousel>
<app-dietprogram *ngIf="!authService.getRole()"></app-dietprogram>

<app-dashboard *ngIf="authService.getRole()=='vendor'"></app-dashboard>



<div class="container" *ngIf="!authService.getRole() || authService.getRole()=='customer'">
    <div class="row">
            <h2 class="main-title">Made with Hygiene, Delivered it safely</h2>
            <p class="main-desc">We make sure the customer safety all the way possible with the hygiene checked for each of our staff member</p>
        <div class="wrapper">
            <img class="left-img" src="assets/img/temperature-checking.png" />
            <p class="right-text">Real time temperature checking for our delivery guy</p>    
        </div>
        <div class="wrapper">
            <img class="left-img" src="assets/img/contactless-delivery.png" />
            <p class="right-text">Contactless Delivery</p>
        </div>
        <div class="wrapper">
            <img class="left-img" src="assets/img/masker-vector.png"/>
            <p class="right-text">Full Protection for the Delivery and our Staff</p>
        </div>
    </div>
</div>
