<h2>list of dietprogram</h2>
<ul>
    <li *ngFor="let dietprogram of dietprograms">
        <h2>{{dietprogram.title}}</h2>
    </li>
</ul>
    <!-- slider_area-start -->
    <div class="container">
    <div class="row">
        <div class="wrapper">
        <div id="owl-banner" class="owl-carousel owl-theme">  
                    <div class="item"><img src="" alt="Banner1"></div>
                    <div class="item"><img src=""  alt="Banner2"></div>
                    <div class="item"><img src=""  alt="Banner3"></div>
        </div>
        </div>
    </div>
    </div>



    <!-- order_area_start -->
    <div class="order_area">
        <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-70">
                            <h3>Our Programs</h3>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="single_order">
                        <div class="order_thumb">
                            <img src= "" alt="">
                            <div class="order_prise">
                                <span>Starts from Rp 15,000</span>
                            </div>
                        </div>
                        <div class="order_info">
                            <div *ngFor="let dietprogram of dietprograms">
                                <h3>{{dietprogram.title}}</h3>
                            <p>Help you to buff your body</p>
                        </div>
                        </div>
                    </div>  
                </div>
    
                    <div class="load_more_button text-center">
                        <a href="" class="load_more_btn">See More Program</a>
                    </div>
        </div>
    </div>
 


    

