
        <!--End of Manual Breadcrumbs-->
<br><br><br><br><br>
        <div class="row">
                <div *ngFor="let productlist of productLists" class="col-md-6">
                    <h1>{{productlist.product_name}} </h1>
                    <p> Price: </p>
                    <h3> Rp   {{ productlist.price}}</h3>

                    <div class="">
                        <!--Foods in Foodlist-->
                        <button>Add to Cart</button>


            </div> 
        </div> <!-- end row-->
