<div *ngIf="customer.user_created != true; else success" class="container">
	<div class="sub-container">
			 <form [formGroup]="form" class="login-form" method="POST" action="" (ngSubmit)="createCustomer()"> 
			 <!-- <div class="login-form"> -->
				<div class="input-fields">
					<label class="label">Full Name</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<!-- <span class="input-group-text"><i class="fa fa-envelope"></i></span> -->
						</div>
						<input  type="text" placeholder="please input customer name" formControlName="customer_name" >
					</div>
					<label class="label">Email</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<!-- <span class="input-group-text"><i class="fa fa-user"></i></span> -->
						</div>
						<input type="text" placeholder="please input customer email" formControlName="customer_email" >
					</div>
					<div class="input-fields">
						<label class="label">Password</label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<!-- <span class="input-group-text"><i class="fa fa-key"></i></span> -->
							</div>
							<input type="password"   placeholder="password" formControlName="password" >
						</div>
					</div>
					<div class="input-fields">
						<div class="input-group mb-2">
							<div class="input-group-append">
								<!-- <span class="input-group-text"><i class="fa fa-key"></i></span> -->
							</div>
							<input type="password" placeholder="re-input password" formControlName="password2" >
						</div>
					</div>


					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Already have an account? <a routerLink="/login" routerLinkActive="active" class="ml-2">Login</a>
						</div>
					</div>

				</div>
				<!--  <input class="btn" type="submit" value="Sign Up">  -->
			<button class="btn">REGISTER</button>
			<!-- </div> -->
			 </form> 

</div>
</div>

<ng-template #success>
	<div class="container">
		
			Please check your email for Confirmation

	</div>
</ng-template>

<div *ngIf = "confirmed.is_activated == true">
	Congratulations your account is activated 
	redirecting to login page.
</div>


