<div  class="container">
	<div class="sub-container">
			<form [formGroup]="form" (ngSubmit)="submit()">
				<div class="input-fields" >
					<label class="label">Foodlist Name : </label>
					<div class="input-group mb-3" [ngClass]="displayFieldCss('foodlist_name')">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						<input  formControlName="foodlist_name" type="text" placeholder="please input Foodlist name" value="{{foodlist.foodlist_name}}" >
						<app-field-error-display 
							[displayError]="isFieldValid('foodlist_name')" 
							errorMsg="Please inform foodlist name">
						</app-field-error-display>
					</div>
					<label class="label">Diet Program : </label>
					<div class="input-group mb-3" [ngClass]="displayFieldCss('foodlist_name')">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<!-- Check if the foodlist id non existent -->
						<select  *ngIf="!foodListId" formControlName="dietprogram_pk" id="dietprogram">
							<option [value]="dietPrograms[i].id" *ngFor="let dietprogram of dietPrograms;let i = index">{{dietPrograms[i].dietProgram_name}}</option >
						</select>
						<!-- Check if the foodlist id is exist -->	
						<select  *ngIf="foodListId" formControlName="dietprogram_pk" id="dietprogram">
							<option  [value]="dietPrograms[i].id" *ngFor="let dietprogram of dietPrograms;let i = index">{{dietPrograms[i].dietProgram_name}}</option >
						</select>
					
					</div>
					<div class="input-fields">
						<label class="label">Foods : </label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							<div formArrayName="foods" *ngFor="let food of form.controls.foods['controls']; let i = index">
								<input type="checkbox" [formControlName]="i"  >{{foods[i].food_name}}
							</div>
						</div>
					</div>
					<div class="input-fields">
						<label class="label">Calories : </label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							<input type="number" formControlName="calories"  >
							<app-field-error-display 
								[displayError]="isFieldValid('calories')" 
								errorMsg="Fill in Calories field">
							</app-field-error-display>
						</div>
					</div>
					<div class="input-fields">
						<label class="label">Description : </label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
								<input type="text" formControlName="description" value="{{foodlist.description}}" />
								<app-field-error-display 
									[displayError]="isFieldValid('description')" 
									errorMsg="Min length of description 20 words">
								</app-field-error-display>
						</div>
					</div>
					<div class="input-fields">
						<label class="label">Available Date : </label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							<input formControlName="available_date" type="date"   placeholder="Available date" value="{{foodlist.available_date}}" >
							<app-field-error-display 
								[displayError]="isFieldValid('available_date')" 
								errorMsg="Please inform available date">
							</app-field-error-display>
						</div>
					</div>

					<div class="input-fields">
						<label class="label">Price</label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key" ></i></span>
							</div>
							<input formControlName="price" type="number"  placeholder="Price" value="{{foodlist.price}}" >
							<app-field-error-display 
								[displayError]="isFieldValid('price')" 
								errorMsg="Please inform foodlist name">
							</app-field-error-display>	
						</div>
					</div>
					<div class="input-fields">
						<label class="label">Foodlist logo : </label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							<input type="file" (change)="onFileSelected($event)" />
							<p>Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% complete</p>
							<img src="{{foodlist.foodlist_logo}}" style="height:100%;width:200px"/>
						</div>
					</div>
		

				</div>
				<!--  <input class="btn" type="submit" value="Sign Up">  -->
				<button >Submit</button>
			</form> 

</div>
</div>