<!-- order_area_start -->
<div class="order_area"  >
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img src="{{food_detail.food_photo}}" style="width:100%" />

                </div>
                <div class="col-md-6">
                    <h1>{{food_detail.food_name}} </h1>
                    <p> Desc: {{food_detail.description}} </p>
                    <p> Calories : {{food_detail.calories}} </p>
                </div>
        </div>
    </div>
</div>