{% extends 'base/navbar.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}">

<body>
	<div class="container">
		<div class="sub-container">
			{% comment %} <div class="banner-img">
				<img src="{% static 'welcome/img/healthy-food.jpg'%}" alt="healthy-food">
			</div> {% endcomment %}
			<form class="login-form" method="POST" action="">
				{% csrf_token %}
				<div class="title">
{% comment %} 
					<a href="{% url 'welcome:index'%}">
						<img src="{% static "welcome/img/nutree-logo.png" %}" style="width : 150px;height : 150px"
							alt="">
					</a> {% endcomment %}
				</div>
				{{ form.errors }}
				{% for message in messages %}
				<p style="color:red;"> {{ message }} </p>
				{% endfor %}
				<div class="input-fields">
					<label class="label">Full Name</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						{{ form.customer_name }}
					</div>
					<label class="label">Email</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						{{ form.username }}
					</div>
					<div class="input-fields">
						<label class="label">Password</label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							{{ form.password1 }}
						</div>
					</div>
					<div class="input-fields">
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							{{ form.password2 }}
						</div>
					</div>


					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
						</div>
					</div>

				</div>
				<input class="btn" type="submit" value="Sign Up">
				{% comment %} <input class="btn" type="submit" value="Login"> {% endcomment %}
			</form>
		</div>
	</div>
	</div>


	<script>


		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[2].placeholder = 'Fullname';
		form_fields[3].placeholder = 'Email';
		form_fields[4].placeholder = 'Enter password';
		form_fields[5].placeholder = 'Re-enter Password';


		for (var field in form_fields) {
			form_fields[field].className += ' form-control'
		}
	</script>
</body>

</html>

{% endblock %}