.single_order_foodlist{
  // padding:20px;
}
mat-list-item{
  border:1px solid black;
    margin-bottom: 100px;
  margin-top:50px;
}
.foodlist-img{
  display:inline-block;
  // float:both;
}
.foodlist-info{
  // position: relative;
  // padding:20px;
  top:0;
  left:0;
  width:50%;
  margin-left:10px;
  display:inline-block;
  height:100%;
  // display:flex;
}
.foodlist-price{
  bottom:0;
  left:0;
}
.foodlist-desc{ 
  margin-bottom:0px !important;
  display:inline-block;
}
p{
  margin-bottom: 0rem;
}
.list-view{
  display:inline-block;
  width:100%;
  // margin-bottom:30px;
}