<div *ngIf="!(foodlist.length == 0);else comingsoon" class="container">
<div class="section_title mb-70">
    <h1>{{dietprogram_name}} </h1> 
</div>
    <div *ngFor="let f of foodlist" (deferLoad)="f.show = true" class="list-view" (click)="onSelect(f)">
        <div  class="foodlist-img">
            <img *ngIf="f.show == true" style="height:120px;width:120px;object-fit:cover;"src="{{f.foodlist_logo}}" alt="">   

        </div>
        <div class="foodlist-info">
            <div class="foodlist-desc">
                <p><strong>{{f.foodlist_name}}</strong></p>
                <p> By: {{f.vendor.vendor_name}}</p>
            </div>
            <div class="foodlist-price">
                <p>{{f.price | currency:"IDR":"symbol-narrow":"1.0-2"}} </p>
            </div>
        </div>
        <hr>

    </div>
</div>

<ng-template #comingsoon>
    <div class="section_title mb-70">
        <h1>{{dietprogram_name}} </h1> 
    </div>
    <h2>Coming Soon...</h2>

</ng-template>

<!-- <div class="foodlist-img">
    <img style="height:120px;width:120px;object-fit:cover;"src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1296x728-header.jpg?w=1155&h=1528" alt="">
</div>
<div class="foodlist-info">
    <div class="foodlist-desc">
        <p><strong>{{f.foodlist_name}}</strong></p>
        <p> By: {{f.vendor.vendor_name}}</p>
    </div>
    

    <div class="foodlist-price">
        <li><span>Available on: {{f.available_date}} </span></li>
        <p>Rp {{f.price}} </p>
    </div>
</div> -->