{% extends 'base/navbar.html' %}
{% load static %}
{% block body %}


<!-- order_area_start -->
<div class="order_area_foodlist">

    <div class="container">
        <!--Manual Breadcrumbs-->
        <ul class='breadcrumb'>
            <li><a href="{% url 'welcome:index' %}"><i class="fa fa-home"></i></a></li>
            <li>Diet Program</li>
        </ul>
        <!--End of Manual Breadcrumbs-->

        <div class="row">
            {% if request.user.groups.all.0.name == 'admin' %}
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <div class="action">
                        <a href="{% url 'dietprogram:update' dietProgram.id %}">
                            <button type="submit" class="btn btn-success">Update</button>
                        </a>
                    </div>
                    <form action="{% url 'dietprogram:delete' dietProgram.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="food_id" value="{{ food.id }}" />
                        <button type="submit" class="btn btn-danger">Delete Program</button>
                    </form>
                    <h1>{{ dietProgram.dietProgram_name }} </h1>
                </div>
            </div>
            {% else %}
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h1>{{ dietProgram.dietProgram_name }} </h1>
                </div>
                <p> {{ dietProgram.description }} </p>
            </div>
            {% endif %}


        </div>

        <div class="row">
            {% for foodlist in filtered_foodlist %}
            <div class="col-xl-4 col-md-6">
                <div class="single_order_foodlist">
                    <div class="order_thumb_foodlist">
                        <img src="{{foodlist.foodlist_logo}}" alt="">
                    </div>
                    <div class="order_info">
                        <h3>
                            <a href="{% url 'foodlist:foodlist-detail' foodlist.id %}">
                                {{ foodlist.foodlist_name }}
                            </a>
                        </h3>

                        <p> By: {{ foodlist.vendor.vendor_name }} </p>

                        <div class="order_prise_foodlist">
                            <li><span>Available on: {{ foodlist.available_date }} </span></li>
                            <li><span>Rp {{foodlist.price}}</span></li>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} load more button {% endcomment %}
        <div class="load_more_button text-center">
            {% comment %} <a href="#" class="load_more_btn">See More Foodlist</a> {% endcomment %}
        </div>
    </div>
</div>
<!-- order_area_end -->

{% endblock %}