{% extends 'base/navbar.html' %}
{% load static %}
{% block body %}
<div class="container">
<div class="row">
    {% for dietprogram in object_list %}
    <div class="col-xl-4 col-md-6">
        <div class="single_order">
            <div class="order_thumb">
                <img src="{% static "welcome2/img/order/buff-photo.jpg" %}" alt="">
                <div class="order_prise">
                    <span>Starts from Rp 15,000</span>
                </div>
            </div>
            <div class="order_info">
                <h3><a href="{% url 'dietprogram:detail' dietprogram.id %}">{{dietprogram.dietProgram_name}}</a></h3>
                <p>Help you to buff your body</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}