<!-- order_area_start -->
<div class="order_area"  >
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                {{foodListDetail.diet_program.dietProgram_name}}
                <img src="{{foodListDetail.foodlist_logo}}" style="width:100%" />

                </div>
                <div class="col-md-6 detail">
                    <p></p>
                    <h2>{{foodListDetail.foodlist_name}} </h2>
                    <p style="color:grey">{{foodListDetail.description}}</p>

                    <hr>
                    <p> <img style="height:50px;width:auto" src="assets/img/grey-circle-noimage.png"/> {{foodListDetail.vendor.vendor_name}} </p>
                    <hr>

                    <!-- <p> Available Date: {{foodListDetail.available_date}}</p> -->
                    <div class="">
                        <!--Foods in Foodlist-->
                    
                        <p>Foods : </p>
                     <div *ngFor="let food of foods">
                         <img src="{{food.food_logo}}"/>
                        {{food.food_name}}
                    </div>
                        


                        
                        <div class="action">
                            <!-- <a href="">
                                <button type="submit" class="btn btn-success">Update</button>
                            </a> -->
                            <!-- Vendor -->
                            <!-- <form action="" method="post">
    
                                <input type="hidden" name="food_id" value="" />
                                <button type="submit" class="btn btn-danger">Delete Foodlist</button>
                            </form> -->
                            <!-- Vendor -->
                            <!-- Customer -->
                            <form>
                                <div class="add-to-cart" *ngIf="api.getRole()=='customer'">
                                    <div class="foodlist_price">
                                        <p class="price-p"> Price:</p>
                                        <h4 class="price-rp"> Rp  {{foodListDetail.price}}</h4>
                                    </div>
                                    <button *ngIf="foodlistQuantity == 0" (click)="addButton()" class="boxed_btn" value="Add to Cart">Add to Cart</button>
                                    <div class="button-plusminus">
                    
                                        <div class="minus-button" *ngIf="foodlistQuantity != 0" (click)="minusToCart()">-</div>
                                        <div class="counter" *ngIf="foodlistQuantity != 0"><input (change)="changed($event)" type="text" size="5" value="{{foodlistQuantity}}"/></div>
                                        <div class="add-button" *ngIf="foodlistQuantity != 0" (click)="addButton()">+</div>
                                    </div>
                                <!-- <button *ngIf="matchQuantity != 0" (click)="addToCart()" class="add-button" value="+"></button>  -->
                                </div>

                                <div class="vendor-update-delete" *ngIf="api.getRole()=='vendor'">
                                    <button (click)="updateFoodlist()" class="btn btn-success">Update</button>
                                    <button (click)="deleteFoodlist()" class="btn btn-danger">Delete</button> 
                                </div>
                            </form>
                            <!-- Customer -->
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>