<!-- order_area_start -->
<div class="order_area"  >
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                {{foodListDetail.diet_program.dietProgram_name}}
                <img src="{{foodListDetail.foodlist_logo}}" style="width:100%" />

                </div>
                <div class="col-md-6 detail">
                    <p></p>
                    <h2>{{foodListDetail.foodlist_name}} </h2>
                    <p style="color:grey">{{foodListDetail.description}}</p>
                    <hr>
                    <p> <img style="height:50px;width:auto" src="assets/img/grey-circle-noimage.png"/> {{foodListDetail.vendor.vendor_name}} </p>
                    <hr>
                    <img style="height:50px;width:auto" src="assets/img/calories-vector.png"/><p>{{foodListDetail.calories}} Kcal</p>
                    <!-- <p> Available Date: {{foodListDetail.available_date}}</p> -->
                    <div class="">
                        <!--Foods in Foodlist-->
                    
                        <p>Ingredient : </p>
                     <div *ngFor="let food of foods">
                         <img src="{{food.food_logo}}"/>
                        {{food.food_name}}
                    </div>
                        


                        
                        <!-- <div class="action"> -->
                            <!-- <div class="container"> -->
                        
                                <div class="row add-to-cart" *ngIf="api.getRole()=='customer' || !api.getRole()">
                                    <div class="col foodlist-price">
                                        <p class="price-p"> Price:</p>
                                        <h4 class="price-rp">{{foodListDetail.price |currency:"IDR":"symbol-narrow":"1.0-2" }}</h4>
                                    </div>
    
                                    <div class="col button-plusminus">
                                        <div class="minus-button"  (click)="minusButton()">-</div>
                                        <div class="counter" ><input (change)="changed($event)" type="text" size="5" value="{{foodlistQuantity}}"/></div>
                                        <div class="add-button"  (click)="plusButton()">+</div>
                                    </div>
                                    
                                    <button  (click)="addButton()" class="boxed_btn" value="Add to Cart">Add to Cart</button>
                                </div>

                                <div class="vendor-update-delete" *ngIf="api.getRole()=='vendor'">
                                    <button (click)="updateFoodlist()" class="btn btn-success">Update</button>
                                    <button (click)="deleteFoodlist()" class="btn btn-danger">Delete</button> 
                                </div>
                            <!-- </div> -->
                            <!-- Customer -->
                        <!-- </div> -->
                    </div>
                </div>
        </div>
    </div>
</div>