 
  .order_area_foodlist .single_order_foodlist {
    /* margin-bottom: 60px; */
    margin-bottom:150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .order_area_foodlist .single_order_foodlist .order_thumb_foodlist {
    position: relative;
    
  }
  
  .order_area_foodlist .single_order_foodlist .order_thumb_foodlist img {
    width: 100%;
    /* filter: brightness(50%); */
  }
  .order_info .order_prise_foodlist {
    position: relative;
    padding:10px;
    /* right: 10px; */
    /* bottom: 0px; */
    /* background: #fff; */
    color: black;
    /* padding: 20px 21px 20px 24px; */
    border-radius: 5px;
    /* font-weight: 600; */
    font-size: 18px;
    margin-bottom: 0;
    /* line-height: 18px; */
  }
  
  .order_area_foodlist .single_order_foodlist .order_thumb_foodlist .order_prise_foodlist span {
    position: relative;
  }
  
  .order_area_foodlist .single_order_foodlist .order_thumb_foodlist .order_prise_foodlist span::before {
    position: absolute;
    /* content: "Rp "; */
    /* left: -20px; */
    /* top: -1px; */
    color: #78b454;
    font-size: 15px;
  }
  
  .order_area_foodlist .single_order_foodlist .order_info h3 a {
    position: relative;
    font-size: 24px;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    /* font-weight: 600; */
    padding:10px;
    display: block;
    margin-top: 10px;
    margin-bottom: 16px;
    text-align:left;
  }
  
  /* index dietprogram */
  
  
  /* line 8, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order {
    /* margin-bottom: 60px; */
    margin-bottom:150px;
  }
  
  /* line 10, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order .order_thumb {
    position: relative;
    
  }
  
  /* line 12, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order .order_thumb img {
    width: 100%;
    filter: brightness(50%);
  }
  
  /* line 15, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order .order_thumb .order_prise {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #fff;
    color: #78b454;
    padding: 17px 21px 13px 24px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 18px;
  }
  
  /* line 27, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order .order_thumb .order_prise span {
    position: relative;
  }
  
  /* line 29, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order .order_thumb .order_prise span::before {
    position: absolute;
    /* content: "Rp "; */
    /* left: -20px; */
    /* top: -1px; */
    color: #78b454;
    font-size: 15px;
  }
  
  /* line 42, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order .order_info h3 a {
    position: relative;
    font-size: 24px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    display: block;
    margin-top: -150px;
    margin-bottom: 16px;
    text-align:center;
  
  }
  
  /* line 52, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
  .order_area .single_order .order_info p {
    position: relative;
    font-size: 16px;
    line-height: 28px;
    /* color: #777777; */
    color:#d4d4d4;
    text-align: center;
    margin-bottom: 30px;
  }

   /* line 1, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_btn.scss */

   .boxed_btn {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    padding: 18px 39px;
    // margin-top:30px;
    background-color: #78b454;
    /* border: 2px solid #78b454; */
    text-transform: capitalize;
    // width:100%;
    text-align:center;
  }
  
  /* line 9, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_btn.scss */
  // .boxed_btn:hover {
  //   background: #78b454;
  //   color: #fff;
  // }
  
  
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 32, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_btn.scss */

  }

  @media (max-width: 500px) {
    /* line 1, ../../Arafath/CL/CL August/199 Flatter Catering/199 Flatter Catering-HTML/scss/_order.scss */
    .order_area {
      padding-top: 10px;
      padding-bottom: 0px;
    }   
    
    .foodlist_price{
      // float:left;\
      // left:0;
      // bottom: 0;
      position:fixed;
      bottom:0;
      left:0;
      width:50%;
      color:#000;
      text-align: left;
      // position:fixed;
      display:inline-block;
      padding:1px;
      padding-left:10px;
      background-color: white;
      border-top: solid 1px #ededed;
      height:10%;
    }
    .price-p{
      margin-bottom:0px;
    }
    .price-rp{
      color:orange;
    }

    .boxed_btn {
      // font-size: 15px;
      // font-weight: 600;
      // background-color: #78b454;
      // color: #ffffff;
      // text-align: center;
      width:50%;
      right:0;
      bottom:0;
      position:fixed;
      height:10%;
      z-index: 999;
      border:none;
    } 

    .add-button {
      bottom:0;
      right:0;
      font-size:35px;
      // position: fixed;
      text-align: center;
      vertical-align: middle;
      display:inline-block;
      background-color: #78b454;
      color:white;
      width:50px;

    }

    .minus-button{
      bottom:0;
      right:0;
      // margin-right:150px;
      font-size:35px;
      // position: fixed;
      display:inline-block;
      text-align: center;
      vertical-align: middle;
      background-color: #78b454;
      color:white;
      width:50px;
      // height:100%;
    }

    .counter{
      width: 50px;
      border-bottom: 0.5px #e0dede solid;
      margin-right:10px;
      margin-left:10px;
      font-size:24px;
      display:inline-block;
      text-align: center;
      vertical-align: middle;
      background-color: white;
      color:black;
      width:20%;
      // height:100%;
    }


    input {
      border:none;
      width:50px;
      text-align: center;
      // height:100%;
    }

    input:focus{
      border:none;
      outline:none;
      width:50px;
      text-align: center;
      border-bottom: 1px solid green;
      // height:100%;
    }

    // .add-to-cart{
      // border-top: solid 0.5px #f2f2ff;
      // position:fixed;
      // bottom:0;
      // left:0;
      // width:100%;
    // }

    .button-plusminus{
      width:50%;
      right:0;
      bottom:0;
      margin:0;
      position:fixed;
      background-color:white;
      height:10%;
  
    }
  }