.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  background-color: white;
  border-bottom: solid 0.5px #f2f2f2;
}
.menu {
  float:right;
}
.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width:250px;
}
mat-sidenav-content{ 
  background-color: white;
}

.side-menu{
  list-style-type: none;
}

.side-menu a{
  width:100%;
}

.menu-bar{
  color:black;
  background-color: white;
}

.logo{
  text-align:center;
  justify-content: center;
  width:100%;
}

// shopping cart number 
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}