
<div *ngIf="login.login_success == false" class="container">
	<div class="sub-container">
			 <form [formGroup]="form" class="login-form" (ngSubmit)="customerLogins()"> 
				 <!-- <span *ngIf="form.get('username').errors.required">please input your username</span> -->
				<div class="form-group" [ngClass]="{'has-error' : form.get('username')}">
					<label class="label">Email</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<!-- <span class="input-group-text"><i class="fa fa-envelope"></i></span> -->
						</div>
						<input  formControlName="username" type="text" placeholder="Please input your email" [(ngModel)]="loginCustomer.username" >
					</div>
					<label class="label">Password</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<!-- <span class="input-group-text"><i class="fa fa-user"></i></span> -->
						</div>
						<input formControlName="password" type="password" placeholder="Please input your password" [(ngModel)]="loginCustomer.password" >
					</div>
			

					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Don't have account? <a routerLink="/register" routerLinkActive="active" class="ml-2">Sign Up</a>
						</div>
					</div>

				</div>
				<!--  <input class="btn" type="submit" value="Sign Up">  -->
			<button class="btn" >Login</button>
			</form> 

</div>
</div>

<!-- <ng-template #success>
	<div *ngIf="login.login_success" class="container">
		
			Check your email {{login.username}}
	</div>
</ng-template> -->


