<div  class="container">
	<div class="sub-container">
			 <form  [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()"> 
				<div class="input-fields">
					<label class="label">Food Name</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
					
						</div>
						<input formControlName="food_name" type="text" placeholder="Please input the food name" >
					</div>
					<label class="label">Description</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
					
						</div>
						<input formControlName="description" type="text" placeholder="Please input the description"  >
					</div>
					<div class="input-fields">
						<label class="label">Calories</label>
						<div class="input-group mb-2">
							<div class="input-group-append">
							
							</div>
							<input formControlName="food_calories" type="number"   placeholder="Input the Number of Calories"  >
						</div>
					</div>
					<div class="input-fields">
						<label class="label">Food Photo</label>
						<div class="input-group mb-2">
							<div class="input-group-append">
							</div>
							<input formControlName="food_photo" (change)="onFileSelected($event)" type="file" >
						</div>
					</div>
				</div>
				<!--  <input class="btn" type="submit" value="Sign Up">  -->
			<button >Submit</button>
			 </form> 

</div>
</div>
