{% extends 'base/navbar.html' %}
{% block title %}My Bag{% endblock %}
{% block body %}


<div class="container" >
    <!--Manual Breadcrumbs-->
    <ul class='breadcrumb'>
        <li><a href="{% url 'welcome:index' %}"><i class="fa fa-home"></i></a></li>
        <li>My Bag</li>
    </ul>
    <!--End of Manual Breadcrumbs-->
    
    <div class="row">

        <div class="col-md-6">
        
        {% for v in customer_bag %}
            <div class="card-checkout">
                    <div class="remove-btn">
                        <a href="{% url 'foodlist:foodlist-remove-from-bag' v.foodlist.pk %}" class="btn btn-outline-danger">×</a>
                    </div>  
                <img src="{{v.foodlist.foodlist_logo}}"
                    class="img-checkout">
                <div class="foodlist-info">
                    <a href="{% url 'foodlist:foodlist-detail' v.foodlist.pk %}">
                        <h3 >{{v.foodlist}}</h3>
                    </a>
                    <p>03 Mei 2020</p>
                    <p>Qty : {{v.quantity}}</p>
                     <select class="form-control" value="v.quantity">
                    {% if selected_region == region %}
                        selected="selected"
                    {% endif %}
                        <option value="1">Single</option>
                        <option value="2" >Double</option>
                        <option value="3">Family(3 pax)</option>
                        <option value="4">Family(4 pax)</option>
                        <option value="5">Family(5 pax)</option>
                    </select>  
                </div>

                     {% comment %} <dl class="param param-inline small">
                        <dt> Package: </dt>
                        {% if v.quantity == 1 %}
                            <dd> Single (1 package) </dd>
                        {% elif v.quantity == 2  %}
                            <dd> Double (2 packages) </dd>
                        {% elif v.quantity == 3  %}
                            <dd> Family (3 packages) </dd>
                        {% endif %}                                         
                    </dl> {% endcomment %}

                    <div class="price-wrap">
                     <h3 class="price">Rp {{v.total_price}}</h3>
                     </div>


            </div>
        {% endfor %}
        </div>
        <!--col-md-6 end-->
        <div class="col-md-6">
                <div class="card-checkout">
                    <dl class="dlist-align">
                        <dt>Delivery Method : </dt>
                        <select class="form-control" >
                        <option value="1">Gojek</option>
                        <option value="2" >Grab</option>
                        <option value="3">Ninja Express</option>
                    </select>  
                    </dl>
                    <dl class="dlist-align">
                    
                        <dt>Delivery to :  <a href="{% url 'customer:address-update' customer_pk %}"><span style="color:blue;font-size:12px;">change address</span></a></dt>
                        <dd class="text-right"> {{ customer_address.street }} </dd>
                        <dd class="text-right"> {{ customer_address.postal_code }} </dd>
                        <dd class="text-right"> {{ customer_address.city }} </dd>
                        <dd class="text-right"> {{ customer_address.province }} </dd>                    
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right"> {{ grand_total }} </dd>
                    </dl>
                    <hr>
                    <a href="{% url 'customer:checkout' customer_pk %}" class="btn btn-success btn-block"> Checkout </a>
                    <a href="{% url 'dietprogram:index' %}" class="btn btn-light btn-block">Continue Shopping</a>
                </div> <!-- card-body.// -->
            </div>
            <!--col-md-2 end-->
            
        </div>
        <!--row end-->
    </div>
    <!--container end.//-->


    
{% endblock %}
