
{% block body %}
<div class="container-fluid">
    <div  class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel-body">
                <form class="form-horizontal" action="" method="POST" enctype="multiple/form-data">
                    {% csrf_token %}

                    <label for="Provinsi">Provinsi</label><br>
                    <input type="text" id="" name="provinsi" placeholder="e.g.DKI Jakarta">
                    <br>
                    <label for="Kota">Kota</label><br>
                    <input type="text" id="" name="kota" placeholder="Jakarta Barat">
                    <br>
                    <label for="Jalan">Jalan</label><br>
                    <input type="text" id="" name="jalan" placeholder="e.g. jl hayam wuruk no 99">
                        <br>
                    <label for="Kode-Pos">Kode Pos</label><br>
                    <input type="text" id="" name="kodepos" placeholder="e.g.110101">
                    <br>
                    <br>

                    <button type="submit" class="btn btn-success"> Submit </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
