{% extends 'base/navbar.html' %}
{% block title %} Delete Account - {{customer.customer_name}} {% endblock %}
{% block body %}


<h1> Delete Confirmation </h1>
<br>
<br>

{% for message in messages %}
    <p style="color:red;"> {{ message }} </p>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    <div class="input-fields">
        <input type="password" name="entered_password" placeholder="Enter your current password" class="form-control" required/>
        <br>
        <br>
        <button type="submit" class="btn btn-danger">Delete account</button>
    </div>
</form>

{% endblock %}