

<div class="container" *ngIf="!(orders.length == 0) ; else emptyOrders">
    <div class="card-checkout" *ngFor="let order of orders">
    <div class="card-head">
        <p class="alignleft">#{{order.order_date | date:"ddMMyyHHmms"}}</p>
        <p class="alignright">{{order.delivery_date | date: "dd MMM yyyy"}}</p>
        <!-- <p class="alignright">{{order.order_date | date:'dd MMM yyyy'}}</p> -->
        <div style="clear: both;"></div>
    </div>
    
    <div *ngIf="order.is_delivered" class="btn btn-success" style="width:100%;">Completed</div>
    <div *ngIf="!order.is_delivered" class="btn btn-warning" style="width:100%;">Delivering</div>
    
    
    <hr>
    
    <h4>Foods</h4>
        <div class="card-list" *ngFor = "let item of order.item" >
            <img src="{{item.foodlist_photo}}"
            class="img-checkout">
            <div class="foodlist-info" >
            <strong><p>{{item.foodlist_name}}</p></strong>
            <p>Price : {{item.foodlist_price |currency:"IDR":"symbol-narrow":"1.0-2"}}</p>
            <p>Qty : {{item.quantity}}</p>
            </div>
        </div>
        <div class="price-wrap">
            <h4 class="price">{{order.grand_total |currency:"IDR":"symbol-narrow":"1.0-2"}}</h4>
            </div>
        </div>
</div>

<ng-template #emptyOrders>
    <p>Empty Orders</p>
</ng-template>

