

<div class="container">
    <div class="card-checkout" *ngFor="let order of orders">
    <div class="btn btn-success" style="width:100%;">Order Status</div>
    <p>19 Mar 2020 {{order.order_date}}</p>
    <p>Order No : #36583509159 {{order_id}}</p>
    <hr>

    <div class="card-list">

    <img src="assets/img/slimfitphoto.jpg"
    class="img-checkout">
    <div class="foodlist-info" >
        <h3 >{{order.item.foodlist}}</h3>
    <p>Available until:  dd-mm-yyyy</p>
    <p>Qty : {{order.item.quantity}}</p>
    </div>


    <div class="price-wrap">
        <h3 class="price">Rp {{order.grand_total}}</h3>
        </div>

    </div>
    </div>

</div>
