

<div class="container">
    <div class="card-checkout" *ngFor="let order of orders">
    <div class="btn btn-success" style="width:100%;">Order Status</div>
    <p>{{order.order_date | date:'dd/MM/yyyy'}}</p>
    <p>Order No : {{order.order_date | date:'ddmmyy'}}</p>
    <hr>

        <div class="card-list" *ngFor = "let item of order.item" >

            <img src=""
            class="img-checkout">
            <div class="foodlist-info" >
                <h3 >{{item.foodlist}}</h3>
            <!-- <p>Available until:</p> -->
            <p>Qty : {{item.quantity}}</p>
            </div>
        </div>
        <div class="price-wrap">
            <h3 class="price">Rp {{order.grand_total}}</h3>
            </div>
    </div>

</div>
