{% extends 'base/navbar.html' %}

{% block title %}  Foodlist: {{foodlist.foodlist_name}} {% endblock %}

{% load static %}
{% block body %}

<!-- order_area_start -->
<div class="order_area">
  
    <div class="container">
            <!--Manual Breadcrumbs-->
        <ul class='breadcrumb'>
            <li><a href="{% url 'welcome:index' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'dietprogram:detail' foodlist.diet_program.id %}"> {{ foodlist.diet_program }} </a> </li>
            <li> {{foodlist.foodlist_name}} </li>
        </ul>
        <!--End of Manual Breadcrumbs-->

        <div class="row">
            <div class="col-md-6">

                <img src="{{foodlist.foodlist_logo}}" style="width:100%" />

                </div>
                <div class="col-md-6">
                    <h1>{{ foodlist.foodlist_name }} </h1>
                    <p> By: {{ foodlist.vendor.vendor_name }} </p>
                    <p> Desc: </p>
                    <p> {{ foodlist.description }} </p>
                    <p> Available Date: </p>

                    {% if foodlist_available == True %}
                        <h3> {{ foodlist.available_date }} </h3>
                    {% else %}
                        <h3> Not Available </h3>
                    {% endif %}

                    <p> Price: </p>
                    <h3> Rp {{ foodlist.price }} </h3>

                    <div class="">
                        <!--Foods in Foodlist-->
                        {% for food in foodlist.foods.all %}
                            <img src="{{food.food_photo}}" style="width:100px;height:auto">
                            <a href="{% url 'food:detail' food.id %}"> {{ food.food_name }} </a>
                        {% endfor %}


                        {% if request.user.groups.all.0.name == 'vendor' and vendor_is_creator == 'True' %}
                        <div class="action">
                            <a href="{% url 'foodlist:foodlist-update' foodlist.id %}">
                                <button type="submit" class="btn btn-success">Update</button>
                            </a>
                            <br>
                            <br>
                            <form action="{% url 'foodlist:foodlist-delete' foodlist.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="food_id" value="{{ food.id }}" />
                                <button type="submit" class="btn btn-danger">Delete Foodlist</button>
                            </form>
                        </div>

                        {% elif request.user.groups.all.0.name == 'admin' %}
                        <div class="action">
                            <a href="{% url 'foodlist:foodlist-update' foodlist.id %}">
                                <button type="submit" class="btn btn-success">Update</button>
                            </a>
                            <br>
                            <br>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="foodlist_id" value="{{ foodlist.id }}" />
                                <button type="submit" class="btn btn-danger">Delete Foodlist</button>
                            </form>
                        </div>

                        {% elif request.user.groups.all.0.name == 'customer' %}
                            <!--Single/Couple/Family-->
                            {% if foodlist_available == True %}
                                <form class="form-inline" method='POST' action="" >
                                    {% csrf_token %}
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light active">
                                            <input type="radio" name="options" checked="" value="1"> Single
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="options" value="2"> Couple
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="options" value="3"> Family
                                        </label>
                                    </div>
                                
                                    {% for message in messages %}
                                        <p id="messages"> {{ message }} </p>
                                        {% comment %} {% include 'base/success_popup.html' %} {% endcomment %}
                                    {% endfor %}
                                    <input class="boxed_btn" data-toggle="modal" href="#ignismyModal" type="submit" value="Add to Cart"/></a>
                                
                                </form>
                            {% endif %}
                            {% for message in messages %}
                                <p id="messages"> {{ message }} </p>
                            {% endfor %}

                        <!--Anon Customer-->
                        {% else %}
            
                            {% if foodlist_available == True %}
                                <form class="form-inline" method='POST' action="" >
                                    {% csrf_token %}
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light active">
                                            <input type="radio" name="options" checked="" value="1"> Single
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="options" value="2"> Couple
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="options" value="3"> Family
                                        </label>
                                    </div>
                                    <input class="boxed_btn" type="submit" value="Add to Cart"/>
                                </form>

                            {% endif %}
  
                        


                            
                        {% endif %}
                    </div>
                </div>

                {% comment %}
            </div> {% endcomment %}
        </div> <!-- end row-->
    </div> <!-- end container-->
</div> <!-- order_area_end -->

{% endblock %}