{% extends 'base/navbar.html' %}

{% block body %}
<div class="container">
    <div  class="row">
    <h1>Food List</h1>
        <div class="col-sm-6">
            {% comment %} <div class="panel-body"> {% endcomment %}
                <form class="form-horizontal" action="" method="POST" enctype="multiple/form-data">
                    {% csrf_token %}
                    {% include 'base/form-template.html' %}
                    <br>
                    <br>
                    <button type="submit" class="btn btn-success"> Submit </button>
                </form>
            {% comment %} </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}
