{% extends 'base/navbar.html' %}
{% block title %} Order List {% endblock %}
{% block body %}


{% comment %} {% for v in object_list %}
    {% for foodlist in v.item.all %}
        {{foodlist}}
    {% endfor %}
{% endfor %} {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
            {% for v in object_list %}
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                            <th scope="col">Order ID: {{v.pk}} </th>
                            <th scope="col" width="120">Quantity</th>
                            <th scope="col" width="120">Price</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <td>
                                <figure class="media">
                                    <div class="img-wrap"><img
                                            src="http://bootstrap-ecommerce.com/main/images/items/2.jpg"
                                            class="img-thumbnail img-sm"></div>
                                    <figcaption class="media-body">
                                        {% for order_item in v.item.all %}
                                            <h6 class="title text-truncate"> {{order_item.foodlist}} </h6>
                                        {% endfor %}
                                        <dl class="param param-inline small">
                                            <dt>Order date : </dt>
                                            <dd> {{v.order_date}} </dd>
                                            <br>
                                            <dt>Payment type: </dt>
                                            <dd> {{v.payment_type}} </dd>                                            
                                        </dl>
                                        <hr>
                                        <dl class="param param-inline small">
                                            <dt> Customer: </dt>
                                            <dd> {{v.customer.customer_name}} </dd>
                                            <br>
                                            <dt> Email: </dt>
                                            <dd> {{v.customer.customer_email}} </dd>
                                            <br>
                                            <dt> Address: </dt>
                                            <dd> {{v.customer.customer_location}} </dd>  
                                        </dl>                                     
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <div class="quantity-wrap">
                                    {% for order_item in v.item.all %}
                                        <var class="quantity"> {{order_item.quantity}} </var>
                                        <br>
                                    {% endfor %}                                              
                                </div>
                            </td>
                            <td>
                                <div class="price-wrap">
                                    {% for order_item in v.item.all %}
                                        {% comment %} <var class="price"> {{order_item.total_price}} </var> {% endcomment %}
                                        <var class="quantity"> {{order_item.total_price}} </var>
                                        <br>
                                    {% endfor %}
                                </div>
                            </td>                            
                        </tr>      
                    </tbody>
                </table>

                {% endfor %}
            </div> <!-- card.// -->
        </div>
        <!--col-md-8 end-->
        <!--row end-->
    </div>
    <!--container end.//-->



    {% endblock %}