<p>dietprogram-detail works! {{dietProgramId}} </p>


<!-- order_area_start -->
<div class="order_area_foodlist">

    <div class="container">
        <!--Manual Breadcrumbs-->
        <ul class='breadcrumb'>
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li>Diet Program</li>
        </ul>
        <!--End of Manual Breadcrumbs-->

        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70">
                    <h1>test </h1>
                </div>
                <p>description </p>
            </div>


        </div>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single_order_foodlist">
                    <div class="order_thumb_foodlist">
                        <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1296x728-header.jpg?w=1155&h=1528" alt="">
                    </div>
                    <div class="order_info">
                        <h3>
                            <a href="">
                                
                            </a>
                        </h3>

                        <p> By:  </p>

                        <div class="order_prise_foodlist">
                            <li><span>Available on:  </span></li>
                            <li><span>Rp </span></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="load_more_button text-center">
        </div>
    </div>
</div>