<div *ngIf="customer.customer_created == false; else success" class="container">
	<div class="sub-container">
			 <!-- <form class="login-form" method="POST" action="">  -->
				<div class="input-fields">
					<label class="label">Full Name</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						<input  type="text" placeholder="please input customer name" [(ngModel)]="selectedCustomer.customer_name" >
					</div>
					<label class="label">Email</label>
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" placeholder="please input customer email" [(ngModel)]="selectedCustomer.customer_email" >
					</div>
					<div class="input-fields">
						<label class="label">Password</label>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							<input type="password"   placeholder="password" [(ngModel)]="selectedCustomer.password" >
						</div>
					</div>
					<div class="input-fields">
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							<input type="password" placeholder="re-input password" [(ngModel)]="selectedCustomer.password2" >
						</div>
					</div>


					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Already have an account? <a href="" class="ml-2">Login</a>
						</div>
					</div>

				</div>
				<!--  <input class="btn" type="submit" value="Sign Up">  -->
			<button (click)="createCustomer()">REGISTER</button>
			 <!-- </form>  -->

</div>
</div>

<ng-template #success>
	<div *ngIf="customer.customer_created" class="container">
		<div class="sub-container">
			Customer Created Success

	</div>
	</div>
</ng-template>


